
.main-color{
  background: #BE005E;
  background-color:  #BE005E;
}

footer.page-footer{
    background-color:  #BE005E;
    margin-top: 0px;
}

.card-content{
  padding: 10px;
}

.red.lighten-3{
  background-color: #349E90;
}
@media screen and (min-width:1100px){
  .products{
    max-width: 80%;
    }
}
