
.main-color{
  background: #BE005E;
  background-color:  #BE005E;
}

.card .card-content{
  padding: 10px;
  padding-top: 3px;
}

footer.page-footer{
    background-color:  #BE005E;
    margin-top: 0px;
}



.red.lighten-3{
  background-color: #349E90;
}

.card.medium {
  height: 450px;
}

.card.medium .card-image {
  height: 300px;
}

.card.medium .card-content {
  height: auto;
}

.card-image img {
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-height: 110%;
}

@media screen and (min-width:1100px){
  .products{
    max-width: 80%;
    }
}
